torch>=2.0
transformers>=4.40
accelerate
datasets
vllm
cadquery==2.6.0
pyvista==0.46.5
vtk==9.3.1
gradio>=4.0
fastapi
uvicorn
uvloop
httpx
openai
requests
qwen_vl_utils
aiohttp
tqdm
wandb
numpy
tabulate
Pillow
